<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    
<form action="{{ url_for('search') }}" method="post">
    <div class="form-group">
    <input type="text" name="search" class="form-control" placeholder="Input Name, ID, or Points...">
    </div>
    <button class="btn btn-light menu" type="submit">Search</button>
</form>

{% if users %}
    <h2 class="title">Search Results</h2>
    <ul class="title">
    {% for user in users %}
        <h4> ID = {{ user.id }}, Name = {{ user.name }}, Points = {{ user.points }}</h4>
    {% endfor %}
        </ul>
{% else %}
    <p class="title">No results found. </p>
{% endif %}

<div class="menu">
    <a type="button" href="{{ url_for('index') }}" class="btn btn-light menu"> Back </a>
    
    </div>
    
</body>
</html>